@import "tailwindcss";

#root {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: #f5f7f7;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
